*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#main img{
    height: 500px;
    width: 400px;
    position: absolute;
    background-size: cover;
    background-position: center;
}