.container{
    height: 400px;
    width: 600px;
    background-color: yellow;
    display: inline-grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: auto auto auto; */
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 20px;
    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: center; */
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: center; */
    place-items: center;
}
.item{
    height: 50px;
    width: 100px;
    background-color: limegreen;
    border: 2px solid black;
    text-align: center;
}
/* #one{ */
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/3; */
    /* grid-column: 1/span 2; */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/4; */
    /* grid-row: 1/span 2; */
    /* justify-self: end; */
    /* align-self: start; */
    /* align-self: end; */
    /* align-self: center; */
/* } */
#one{
    place-self: start;
}