<%- include("includes/head.ejs")%>

<body>
    <h1>This is a home page 1+2</h1>
    <h3><%="vaibhav".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ut iste similique, animi voluptas sit neque
        error nulla quaerat tempora aliquid maiores sint ducimus impedit, dicta nesciunt quos deserunt molestiae harum
        ipsum laboriosam aliquam reprehenderit!</p>
    <button>Click me!</button>
</body>

</html>