<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <h3>Post id: <%= post.id %></h3>
    <h3>Post uername: @<%= post.username %></h3>
    <form method="post" action="/posts/:id?_method=PATCH">
        <textarea rows="5" cols="25" name="content"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>